/**
 * The base styles
 */
html
  box-sizing: border-box
*, *:before, *:after
   box-sizing: inherit

html, body
  height: 100%
  width: 100%
  padding: 0
  margin: 0
  overflow: hidden
  font-size: 100%
  font-family: Quark, Arial, Helvetica, sans-serif
  line-height: 1.4333
  color: $black
  background: $white

::-moz-selection {
  color: $white;
  background: rgba(244,82,82,0.8);
}
::selection {
  color: $white;
  background: rgba(244,82,82,0.8);
}

button
  font-size: 1rem
  display: flex
  justify-content: center
  align-items: center
  background: $black
  border: none
  padding: 0
  margin: 0
  transition: background .4s ease
  &:hover, &:focus
    background: $black-hover

a
  color: $white
  transition: color .2s ease
  &:hover, &:focus
    color: $grey

.site-header
  position: absolute
  top: 3em
  left: 4vw
  color: $white
  background: $black
  line-height: 1
  padding: 0em .5em .5em 0em
  h1
    font-size: 9vw
    margin: -0.3em 0 0 -0.3em
    text-shadow: -1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black, 1px -1px 0 $black
    @media (min-width: 700px)
      font-size: emCalc(63px)
