/**
 * The base styles
 */
html
  box-sizing: border-box
*, *:before, *:after
   box-sizing: inherit

html, body
  width: 100%
  padding: 0
  margin: 0
  font-size: 100%
  font-family: Quark, Arial, Helvetica, sans-serif
  line-height: 1.4333
  color: $black
  background: $white

::-moz-selection {
  color: $white;
  background: rgba(244,82,82,0.8);
}
::selection {
  color: $white;
  background: rgba(244,82,82,0.8);
}

button
  font-size: 1rem
  display: flex
  justify-content: center
  align-items: center
  background: $black
  border: none
  padding: 0
  margin: 0
  transition: background .4s ease
  &:hover, &:focus
    background: $black-hover

a
  color: $black
  transition: color .2s ease, background .2s ease
  &:hover, &:focus
    color: $black-hover

.map-site
  overflow: hidden
  height: 100%

.site-header
  display: inline-block
  line-height: 1
  margin: 4em 2em
  position: relative
  left: 50%
  transform: translateX(-50%)
  color: $white
  background: $black
  padding: 0 1em
  a
    color: $white
    &:hover, &:focus
      color: $grey
  &--on-map
    position: absolute
    top: 3em
    left: 4vw
    margin: 0
    transform: translate(0)
  a&__link
    color: $white
    display: inline-block
    text-decoration: none
    &:hover, &:focus
      color: $white
      h1
        text-shadow: -4px -4px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black, 1px -1px 0 $black
    h1
      font-size: 9vw
      margin: -0.3em 0 0 -0.6em
      transition: all .2s ease
      text-shadow: -1px -1px 0 $black, -1px 1px 0 $black, 4px 4px 0 $black, 1px -1px 0 $black
      @media (min-width: 700px)
        font-size: emCalc(63px)

.content
  margin: 0 auto
  max-width: 37em
  width: 90%

.error
  font-size: 42vw
  text-align: center
  font-weight: bold
  text-shadow: 7px 7px $black, 1px -1px $black, -1px 1px $black, -1px -1px $black;
  color: $white;
