.user-position
  font-size: 1rem
  position: absolute
  bottom: 2em
  right: 2em
  width: 2.5em
  height: 2.5em
  &__icon
    width: 1.5em
    fill: $white
    margin: auto
  &--searching &__icon__center
    animation: pulseIcon .4s infinite
    animation-direction: alternate

@keyframes pulseIcon
  0%
    opacity: 1
  50%
    opacity: 1
  51%
    opacity: 0
  100%
    opacity: 0
