/**
 * Helper functions
 */

/**
 * calculate an rem-value for a given pixel-size
 */
remCalc(_px, _base = 16)
  return (_px / _base)rem

/**
 * calculate an em-value for a given pixel-size
 */
emCalc(_px, _base = 16)
  return (_px / _base)em

/**
 * Colors
 */
$white = #FDFDFD
$black = #121314
$black-hover = #2B2D2F
$main = #F45252
$main-accent = #9D4242
$grey = #9FA0A1
